<html>
	<body>
		{% include "login.html" %}

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="flash">
					{% for message in messages %}
						<h2>{{ message }}</h2>
					{% endfor %}
				</div>
			{% endif %}
		{% endwith %}

		<h3>Categories</h3>
		<ul>
		{% for c in category %}
			<li>
				<a href='{{url_for('items', category_id = c.id) }}'>{{ c.name }}</a>
			</li>
		{% endfor %}
		</ul>

<!-- 		<h3>Items</h3>
		<ul>
		{% for i in items %}
			<li>{{ i.name }}, {{ i.cat_id }}</li>
		{% endfor %}
		</ul> -->

	</body>

</html>
